* {
    box-sizing: border-box;
    font-family: quicksand, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

/*header styling*/
header {
    background-color: #8f0028;
    color: #fff;
    display: flex;
    align-items: center;
    height: 12vh;
    position: fixed;
    width: 100%;
    z-index: 1;
    left: 0;
    right: 0;
}
h1 {
    font-family: "Bree Serif", sans-serif;
    padding: 0 2vw;
    margin: 0;
}
.filter {
    height: 3rem;
}
nav {
    height: 100%;
}
nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    width: 100%;
    height: 100%;
    align-items: center;
}
nav li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1vw;
    width: 100%;
    height: 100%;
}
nav li:hover {
    background-color: #003263;
}
main {
    position: relative;
    top: 12vh;
}

@media screen and (max-width: 404px) {
    header {
        height: 15vh;
    }
    main {
        top: 15vh;
    }
}

/*menu button*/
.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    justify-self: flex-end;
}
.menu-btn_burger {
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
}
.menu-btn_burger::before,
.menu-btn_burger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
}
.menu-btn_burger::before {
    transform: translateY(-16px);
}
.menu-btn_burger::after {
    transform: translateY(16px);
}

/*Animation*/
.menu-btn.open .menu-btn_burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}
.menu-btn.open .menu-btn_burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn_burger::after {
    transform: rotate(-45deg) translate(35px, 35px);   
}
.hamburger-menu {
    position: fixed;
    top: 12vh;
    left: 0;
    width: 100%;
    height: 40vh; 
    z-index: 1;
    background-color: rgba(0,50,99,.7);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hamburger-menu ul {
    list-style-type: none;
    height: 40vh;
    padding: 0;
    margin-top: 10vh;
}
.hamburger-menu li {
    width: 75vw;
    background-color: #8f0028;
    color: #fff;
    padding: 3vh;
    margin: 1vh;
}
li.active {
    background-color: #003263;
}
.closed {
    display: none;
    transition: ease-in-out .5s;
}
@media screen and (min-width: 701px) {
    .menu-btn {
        display: none;
    }
}
@media screen and (max-width: 700px) {
    nav {
        display: none;
    }
    header {
        justify-content: space-between;
    }
}

/*card styling*/
#cards {
    display: grid;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
}
#cards h3{
    font-size: 1rem;
    margin: 0 auto;
    padding: 0;
}
#cards p {
    font-size: 1rem;
}
#cards img {
    margin: 0 auto;
    padding: 0;
    width: 150px;
    height: auto;
}
.card {
    width: 10rem;
    height: 15rem;
    margin: 1vw auto;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (min-width: 893px) {
    #cards {
        grid-template-columns: repeat(5, 1fr);
    }
}
@media screen and (max-width: 892px) {
    #cards {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media screen and (max-width: 701px) {
    #cards {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 535px) {
    .card {
        width: 8rem;
        height: 12rem;
    }
    #cards img {
        width: 110px;
    }
}
@media screen and (max-width: 400px) {
    #cards {
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-evenly;
    }
    .card {
        width: 9rem;
        height: 13.5rem;
    }
    #cards img {
        width: 110px; 
    }
}
/*#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}*/
  
.card.is-flipped {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}
  
  .card__face {
    -webkit-transform: translate3d(0, 0, 0);
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /*line-height: 260px;*/
    
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  
  .card__face--front {
    background: white;
    border: 1px solid #cd1141;
    color: #cd1141;
  }
  
  .card__face--back {
    background: white;
    border: 1px solid #003263;
    color: #003263;
    transform: rotateY(180deg);
  }
  
  .card__face--back table {
      border-spacing: 0;
  }
  .card__face--back th {
      border-bottom: 1px solid #003263;
      font-size: .9rem;
      margin: 0;
      padding: 2px;
  }
  .card__face--back td {
      font-size: .9rem;
      margin: 0;
      padding: 2px;
  }
  table {
      max-width: 100%;
      background-color: #003263;
      color: #fff;
  }
.pitcher-table th, .picther-table td {
    font-size: .7rem;
}
  @media screen and (max-width: 530px) {
      #cards p, #cards p {
          font-size: .75rem;
      }
      .card__face--back th, .card__face--back td{
          font-size: .75rem;
      }
      .pitcher-table th, .pitcher-table td{
        font-size: .6rem;
      }
  }

  .visible {
      display: flex;
  }
  .hidden {
      display: none;
  }

  header, main, footer {
      max-width: 64rem;
      margin: 0 auto;
  }